include mixins

+panelHead()
    | My Skills Are...
ul
    //- Start square
    +showSquare()
        h3 Web Design
        ul
            li +
            li Extra Info
            li More info
    //- End square
    //- Start square
    +showSquare()
        h3 HTML/CSS
        ul
            li +
            li Extra Info
            li More info
    //- End square
    //- Start square
    +showSquare()
        h3 Skill Three
        ul
            li +
            li Extra Info
            li More info
    //- End square
    //- Start square
    +showSquare()
        h3 Skill Four
        ul
            li +
            li Extra Info
            li More info
    //- End square